body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


/*intestazione*/
header, #contain{
    background-color: white; 
}

#title{
    display: inline;
    vertical-align:middle;
    font-size: 36px;
}
    
#logo-boolean{
    vertical-align: middle;
    padding: 10px 10px;
}


/*main*/
#contain{
    width: 60%;
    margin:40px auto;
    border-radius: 20px;
}

#button-menu{
    border-bottom: 2px solid lightgray;
    padding: 20px 70px 10px 70px;
}

#button-task {
    background-color: rgb(0, 140, 255);
    border: 0;
    border-radius: 5px;
    height: 30px;
    color: white;
}

#button-section {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 30px;
    color: lightgray;
}


/*to do list*/
#todolist{
    padding: 30px 20px 20px 70px;
}

.section{
    display: inline;
    padding-left: 5px;
    font-weight: bold;
}

.space {
    padding-top: 25px;
}


/*freccie*/
.arrow {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: inline-block;
    border-top: 8px solid black;
}

/*liste*/
ul{
    margin: 0;
    padding-left: 2px;
    list-style-position: inside;
}

li{
    padding: 5px 0 15px 0;
    font-size: 16px;
    margin: 0;
    list-style: none;
}

/*tag*/
.editorial{
    background-color: rgb(0, 140, 255);
    border-radius: 15px;
    color: white;
    padding: 4px 8px;
    margin-left: 6px;
    font-size: 12px;
}

.q1-goals{
    background-color: rgb(119, 0, 255);
    border-radius: 15px;
    color: white;
    padding: 4px 8px;
    margin-left: 6px;
    font-size: 12px;
}

.recruiting{
    background-color: rgb(0, 255, 153);
    border-radius: 15px;
    color: white;
    padding: 4px 8px;
    margin-left: 6px;
    font-size: 12px;
}

.mobile{
    background-color: rgb(247, 156, 59);
    border-radius: 15px;
    color: white;
    padding: 4px 8px;
    margin-left: 6px;
    font-size: 12px;
}

.website{
    background-color: rgb(255, 0, 170);
    border-radius: 15px;
    color: white;
    padding: 4px 8px;
    margin-left: 6px;
    font-size: 12px;
}

.sales{
    background-color: rgb(25, 128, 0);
    border-radius: 15px;
    color: white;
    padding: 4px 8px;
    margin-left: 6px;
    font-size: 12px;
}

/*tick-cross*/

.tick{
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0);   
    font-size: 10px;
    padding: 0 2px;
}

.cross{
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 10px;
    padding: 0 2px;
}