body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*intestazione*/
header, #contain{
    background-color: white; 
}

#title{
    display: inline;
    vertical-align:middle;
    font-size: 36px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo-boolean{
    vertical-align: middle;
    padding: 10px 10px;
}

/*main*/
#contain{
    width: 60%;
    margin:40px auto;
    border-radius: 20px;
}

#button-menu{
    border-bottom: 2px solid lightgray;
    padding: 20px 70px;
}

#button-task {
    background-color: aqua;
    border: 0;
    border-radius: 5px;
    height: 30px;
    color: white;
}

#button-section {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 30px;
    color: lightgray;
}